<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Random Quotes</title>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="public/css/normalize.css">
  <link rel="stylesheet" href="/styles.css">
  <style>
    body {
  /*text-align: center;*/
  background-color: #36b55c;
  color: white;
  font-family: 'Playfair Display', serif;
}
#quote-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}
.quote {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
  }
.quote:before, .quote:after {
  font-size: 6rem;
  line-height: 2.5rem;
  position: absolute;
}
.quote:before {
  content: "“";
  top: .25em;
  left: -.5em;
}
.quote:after {
  content: "”";
  bottom: -.1em;
  margin-left: .1em;
  position: absolute;
}
.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}
.source:before {
  content: "—";
}
.citation {
  font-style: italic;
}
.citation:before {
  content: ", ";
  font-style: normal;
}
.year:before, .tags:before {
  content: ", ";
  font-style: normal;
}

#loadQuote {
  position: fixed;
  width: 12em;
  display: inline-block;
  left: 50%;
  margin-left: -6em;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  /*background-color: #36b55c;*/
  background-color: rgba(255,255,255,0);
  padding: 15px 0;
  transition: .5s ;
}
#loadQuote:hover {
  background-color: rgba(255,255,255,.45);
}
#loadQuote:focus {
  outline: none;
}

@media (max-width: 420px) {
  .quote {
    font-size: 2.5rem;
  }
  .quote:before, .quote:after {
    font-size: 3rem;
  }
  .source {
    font-size: 1rem;
  }
}

  </style>
</head>
<body id="colour">
  
  <div class="container">
    <div id="quote-box">
      <p class="quote">My life is a gift. I will use this gift with confidence, joy, and exuberance.</p>
      <!-- <p class="source">Voltaire<span class="citation">Le dîner du comte de Boulainvilliers</span><span class="year">1767</span><span class="tags">Literature</span></p> -->
    </div>
    <button id="loadQuote">Show another quote</button>
  </div>
 
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script>
    // initialize variables
var random;
var selection;
var string = "";
var colour = "";
// quotes must not be duplicated until they have all been used
// so first, initialize array of used random numbers
var usedRandomNumbers = [];
// next, initialize counter that will track when all quotes have been used
var counter = 0;



// this function will increase counter and reset once all quotes have been used
function trackUsed() {
  counter += 1;
  // if all quotes have been used once, reset array of used numbers
  if (counter === quotes.length) {
     usedRandomNumbers.length = 0;
     counter = 0;
  }
}

// this code will randomly change the background colour
// first, this function creates random values
function rgbRandom() {
  return Math.floor(Math.random() * 256);
}
// next, create string and add to html
function colourChange() {
  colour = 'rgb(' + rgbRandom() + ',' + rgbRandom() + ',' + rgbRandom() + ')';
  document.getElementById("colour").style.backgroundColor = colour;
}


/* this function will select a random quote object from array,
  then test to see whether quote has been used,
  then return quote object */
function getRandomQuote() {

  // generate random number between 0 and total number of values in array
    random = Math.floor(Math.random() * quotes.length);
      // if number has not been used already, add it to used numbers and return random quote
      if (usedRandomNumbers.indexOf(random) === -1) {
          usedRandomNumbers.push(random);
          trackUsed();
          return quotes[random];
      // if it has been used, generate random numbers until you get a new one
      } else {
          while (usedRandomNumbers.indexOf(random) > -1) {
            random = Math.floor(Math.random() * quotes.length);
          }
          // then add it to used numbers and return random quote
          usedRandomNumbers.push(random);
          trackUsed();
          return quotes[random];
      }
}

// this function adds the selected quote to the page and calls colourChange
function printQuote() {
  // call colourChange
  colourChange();
  // call getRandomQuote, store the returned quote object in a variable
  selection = getRandomQuote();
  // construct a string using the different properties of the quote object
  string = "";
  string += '<p class="quote">' + selection.quote + '</p>';
 
  string += '</p>';

  // display final HTML string to the page
  document.getElementById('quote-box').innerHTML = string;
}


document.getElementById('loadQuote').addEventListener("click", printQuote, false);

window.setInterval(printQuote, 30000);




var quotes = [

    {
    quote: "My life is a gift. I will use this gift with confidence, joy, and exuberance."
    
    },
    {
        quote:"I am willing to keep going, when things get tough, to achieve the success I deserve"

    },
    {
        quote:"I feel beautiful, I am beautiful"

    },
    {
        quote:"I will focus on the bright side"

    },
    {
        quote:"I did not get up today to “just” be average. I will excel!"

    },
    {
        quote:"I do not need someone else to feel happiness"

    },
    {
        quote:"I take responsibility for who I am: the bad and the good."

    },
    {
        quote:" Everything that is happening now is happening for my ultimate good"

    },
    {
        quote:"I саn achieve greatness."

    },
    {
        quote:"Tоdау, I аm brimming with energy and overflowing with joy."

    },
    {
        quote:"I am attracting money from all directions with my hard work."

    },
    {
        quote:"I am blessed to be happy."

    },
    {
        quote:"I am confident in my skin."

    },
];

  </script>
</html>
