<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {{!-- //<link rel="stylesheet" href="/style.css"> --}}
    <title>Document</title>
</head>
<body>
     {{>usernavbar}} 
        {{!-- <img src="https://www.marketing91.com/wp-content/uploads/2020/01/Self-improvement.jpg" alt="" style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;">  --}}
  <div class="container mt-4">
  <img src="home.jpg" alt="..." style="
  width: 1080px; "/>
     {{!-- <div class="container mt-4">
         <div class="jumbotron">
           
        </div> --}}
     </div>




    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>