<nav style="background-color: #000000;
    color:rgb(0, 0, 0);
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;">
        <h4 style="color: white;">Improvement vision</h4>
        <ul style="display: flex;justify-content: space-around;align-items: center;">
            <li style="  list-style: none;font-size: larger;">
                <a href="/" style="color: rgb(245, 243, 243);text-decoration: none;   font-weight: bold; padding: 5px 8px;" >home</a>
            </li>
            
            <li style="  list-style: none;font-size: larger;"><a href="/register" style="color: rgb(245, 243, 243);text-decoration: none;   font-weight: bold; padding: 5px 8px;">Register user</a></li>
            <li style="  list-style: none;font-size: larger;"><a href="/login" style="color: rgb(245, 243, 243);text-decoration: none;   font-weight: bold; padding: 5px 8px;">Login user</a></li>
            {{!-- <li style="  list-style: none;font-size: larger;"><a href="/registertherapist" style="color: rgb(245, 243, 243);text-decoration: none;   font-weight: bold; padding: 5px 8px;">Register therapist</a></li>
            <li style="  list-style: none;font-size: larger;"><a href="/logintherapist"style="color: rgb(245, 243, 243);text-decoration: none;   font-weight: bold; padding: 5px 8px;" >Login therapist</a></li> --}}
        </ul>
     </nav>